
<main class="main" fxFlex="100%" fxLayout="column"  fxLayoutAlign="space-beteween">
    <app-header *ngIf="userLogado"></app-header>
    <section style="padding: 16px">
        <h3 *ngIf="userLogado">TELA PERFIL DO USUÁRIO</h3>
        <h3 *ngIf="!userLogado">TELA CADASTRO DE USUÁRIO</h3>



        <section fxLayout="column">
            <section *ngIf="!formUser" fxFlex="100%" fxLayoutAlign="center center" style="margin: 160px 0px">
                <mat-spinner></mat-spinner>
            </section>


            <section fxFlex.xs="100%" class="cardSection" *ngIf="formUser">
                <form [formGroup]="formUser" >
                    <mat-card>
                        <mat-card-header>
                            <div mat-card-avatar style="  margin-block-end: 10px; margin-top: -10px;"><mat-icon>spa</mat-icon></div>
                            <mat-card-title>Informações</mat-card-title>
                        </mat-card-header>

                        <mat-card-content >
                            <section fxLayout="row" fxLayout.xs="row wrap" fxLayoutGap.sm="4px" fxLayoutGap.md="4px" fxLayoutGap.lg="4px">

                                <mat-form-field appearance="outline" fxFlex="100%" fxFlex.sm="33.33%" fxFlex.md="33.33%" fxFlex.lg="33.33%">
                                    <mat-label>Nome</mat-label>
                                    <input
                                            matInput
                                            type="text"
                                            minlength="1"
                                            maxlength="80"
                                            required="true"
                                            placeholder="GR"
                                            formControlName="name">
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100%" fxFlex.sm="33.33%" fxFlex.md="33.33%" fxFlex.lg="33.33%" disabled>
                                    <mat-label>E-mail</mat-label>
                                    <input
                                            matInput
                                            type="email"
                                            minlength="1"
                                            maxlength="60"
                                            placeholder="E-mail"
                                            formControlName="email">
                                </mat-form-field>



                                <mat-form-field appearance="outline" fxFlex="100%" fxFlex.sm="33.33%" fxFlex.md="33.33%" fxFlex.lg="33.33%">
                                    <input
                                            matInput
                                            #input_password
                                            type="password"
                                            placeholder="Informe sua senha"
                                            formControlName="password" />

                                    <button
                                            type="button"
                                            matSuffix
                                            mat-icon-button
                                            (click)="togglePasswordVisibility(input_password)">
                                        <mat-icon>{{ input_password?.type === 'password' ? 'visibility_off' : 'visibility' }}</mat-icon>
                                    </button>
                                </mat-form-field>
                            </section>

                            <section fxLayout="row" fxLayout.xs="row wrap" fxLayoutGap.sm="4px" fxLayoutGap.md="4px" fxLayoutGap.lg="4px">

                                <mat-form-field appearance="outline" fxFlex="100%" fxFlex.sm="33.33%" fxFlex.md="33.33%" fxFlex.lg="33.33%">
                                    <mat-label>Cep</mat-label>
                                    <input
                                            matInput
                                            type="text"
                                            minlength="1"
                                            maxlength="12"
                                            required="true"
                                            placeholder="GR"
                                            formControlName="zip_code">
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100%" fxFlex.sm="33.33%" fxFlex.md="33.33%" fxFlex.lg="33.33%">
                                    <mat-label>Cidade</mat-label>
                                    <input
                                            matInput
                                            type="text"
                                            minlength="1"
                                            maxlength="60"
                                            required="true"
                                            placeholder="Cidade"
                                            formControlName="city">
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100%" fxFlex.sm="33.33%" fxFlex.md="33.33%" fxFlex.lg="33.33%">
                                    <mat-label>Bairro</mat-label>
                                    <input
                                            matInput
                                            type="text"
                                            minlength="1"
                                            maxlength="70"
                                            required="true"
                                            placeholder="Bairro"
                                            formControlName="neighborhood">
                                </mat-form-field>
                            </section>
                            <section fxLayout="row" fxLayout.xs="row wrap" fxLayoutGap.sm="4px" fxLayoutGap.md="4px" fxLayoutGap.lg="4px">

                                <mat-form-field appearance="outline" fxFlex="100%" fxFlex.sm="76%" fxFlex.md="76%" fxFlex.lg="76%">
                                    <mat-label>Rua</mat-label>
                                    <input
                                            matInput
                                            type="email"
                                            minlength="1"
                                            maxlength="60"
                                            required="true"
                                            placeholder="Rua"
                                            formControlName="street">
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100%" fxFlex.sm="33.33%" fxFlex.md="33.33%" fxFlex.lg="33.33%">
                                    <mat-label>numero</mat-label>
                                    <input
                                            matInput
                                            type="number"
                                            minlength="1"
                                            maxlength="10"
                                            required="true"
                                            placeholder="number"
                                            formControlName="number">
                                </mat-form-field>
                            </section>

                            <section fxLayout="row" fxLayout.xs="row wrap" fxLayoutGap.sm="4px" fxLayoutGap.md="4px" fxLayoutGap.lg="4px">

                                <mat-form-field appearance="outline" fxFlex="100%" fxFlex.sm="76%" fxFlex.md="76%" fxFlex.lg="76%">
                                    <mat-label>Complemento</mat-label>
                                    <input
                                            matInput
                                            type="email"
                                            minlength="1"
                                            maxlength="60"
                                            placeholder="Complemento"
                                            formControlName="complement">
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100%" fxFlex.sm="33.33%" fxFlex.md="33.33%" fxFlex.lg="33.33%">
                                    <mat-label>phone</mat-label>
                                    <input
                                            matInput
                                            type="text"
                                            minlength="1"
                                            maxlength="30"
                                            required="true"
                                            placeholder="Telefone"
                                            formControlName="phone">
                                </mat-form-field>
                            </section>


                        </mat-card-content>


                        <mat-card-content>
                            <section fxLayout="row" fxLayoutAlign="end" fxLayoutGap="4px">
                                <button
                                        type="submit"
                                        mat-raised-button
                                        color="primary"
                                        [disabled]="(!formUser.valid)"
                                        (click)="submitFormUser()">
                                    <mat-icon>done_all</mat-icon>
                                    Salvar
                                </button>
                            </section>
                        </mat-card-content>
                    </mat-card>
                </form>
            </section>
        </section>

        <section  fxLayoutAlign="end" style="margin: 32px 0px">
            <button mat-raised-button *ngIf="!userLogado" color="primary" (click)="Logout()"><mat-icon class="mat-18">navigate_before</mat-icon>Voltar</button>
        </section>
    </section>

    <app-footer fxLayoutAlign="end"></app-footer>
</main>




