<h1 mat-dialog-title>TIPOS DE {{tipo}}</h1>

<div mat-dialog-content *ngIf="tipo == 'SERVICO' || tipo == 'EFEITO'" >
  <!-- <p style="margin-top: 10px;">TIPOS DE SERVIÇOS</p> -->
  <div *ngFor="let opcao of opcoes">
    <button mat-button style="width:100%; padding: 10px;" fxLayout="row" fxLayoutAlign="space-beteween center" (click)="escolhendo(opcao)" >
      <mat-icon style="padding-right: 15px;" >radio_button_unchecked</mat-icon>  
      {{ opcao.cod }} - {{ opcao.titulo }}
    </button>
  </div>
</div>

<div *ngIf="tipo == 'CAUSA'" style="margin: -15px;">
  <div mat-dialog-content *ngFor="let opcao of opcoes" >

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{opcao.cod}} - {{opcao.titulo}}
          </mat-panel-title>
          <!-- <mat-panel-description>
            Escolha 1 opção
          </mat-panel-description> -->
        </mat-expansion-panel-header>
    
        <div *ngFor="let causa of opcao.relacionadas">
          <!-- <mat-label>First name</mat-label> -->
          <!-- <input matInput> -->
          <button mat-button style="width:100%; padding: 8px;" fxLayout="row" fxLayoutAlign="space-beteween center" (click)="escolhendo(causa)" >
            <mat-icon style="padding-right: 15px;" >radio_button_unchecked</mat-icon>  
            {{ causa.cod }} - {{ causa.titulo }}
          </button>
        </div>
      </mat-expansion-panel>
      <!-- <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Self aware panel
          </mat-panel-title>
          <mat-panel-description>
            Currently I am {{panelOpenState ? 'open' : 'closed'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel> -->
    </mat-accordion>










    <!-- <p style="margin-top: 10px;">{{opcao.titulo}}</p>
    <div *ngFor="let causa of opcao.relacionadas">
      <button mat-button style="width:100%; padding: 8px;" fxLayout="row" fxLayoutAlign="space-beteween center" (click)="escolhendo(causa)" >
        <mat-icon style="padding-right: 15px;" >radio_button_unchecked</mat-icon>  
        {{ causa.cod }} - {{ causa.titulo }}
      </button>
    </div> -->
  </div>
</div>


<mat-dialog-actions fxLayoutAlign="center" style="margin-top: 15px;">
  <button mat-stroked-button mat-dialog-close style="padding: 0 25px 0 25px;">Fechar</button>
</mat-dialog-actions>




