 <main class="main" fxFlex="100%" fxLayout="column">
   <app-header></app-header>
    <section fxLayout="column" style="padding: 16px">
        <h3>{{title}}</h3>
    
        <section fxFlex="100%"  fxLayout="row" fxLayoutAlign="space-between"  *ngFor="let ocorrencia of ocorrencias">
          <mat-card fxFlex="95%"  fxLayout="row" fxLayoutAlign="space-between start">
            <mat-card-content fxFlex="100%" fxLayout="column" class="card-content" >
                        
              {{ocorrencia.status}}
            </mat-card-content> 
          </mat-card>
          <mat-divider></mat-divider>
      </section>
        <section  fxLayoutAlign="end" style="margin: 32px 0px">
            <button mat-raised-button routerLink="/ocorrencia/novo" color="accent"><mat-icon class="mat-18">add</mat-icon>Nova Ocorrencia</button>
        </section>
    </section>

   <app-footer></app-footer>
 </main>



